In [1]:
import pandas as pd
from sqlalchemy import create_engine
import seaborn as sns
import matplotlib as mp

# Extract CSVs into DataFrames

## Cost of Living - 2022

In [2]:
# import the csv to df
CostLiving2022_data = pd.read_csv("../Resources/csv/Cost_of_Living_Index_2022.csv")
CostLiving2022_data['Year'] = 2022
CostLiving2022_data.head()

,Rank,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Year
0,1,Afghanistan,20.37,2.72,12.09,14.92,12.41,23.04,2022
1,2,Albania,35.50,8.47,22.83,29.32,25.82,30.19,2022
2,3,Algeria,26.87,4.59,16.43,28.82,14.48,24.63,2022
3,4,Argentina,34.69,7.71,22.04,28.17,33.32,30.72,2022
4,5,Armenia,33.89,11.61,23.45,27.59,30.55,28.86,2022

In [3]:
#Drop the column  Groceries Index and Restaurant Price Index 
CostLiving2022_data = CostLiving2022_data.drop("Groceries Index", axis=1)
CostLiving2022_data = CostLiving2022_data.drop("Restaurant Price Index", axis=1)
CostLiving2022_data = CostLiving2022_data.drop("Rank", axis=1)
CostLiving2022_data.head()

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Local Purchasing Power Index,Year
0,Afghanistan,20.37,2.72,12.09,23.04,2022
1,Albania,35.50,8.47,22.83,30.19,2022
2,Algeria,26.87,4.59,16.43,24.63,2022
3,Argentina,34.69,7.71,22.04,30.72,2022
4,Armenia,33.89,11.61,23.45,28.86,2022

In [4]:
# Most 10 expensive country - 2022
CL2022_Expensive = CostLiving2022_data.nlargest(10, 'Cost of Living Index')
CL2022_Expensive

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Local Purchasing Power Index,Year
15,Bermuda,146.04,98.58,123.80,81.07,2022
119,Switzerland,123.35,53.54,90.62,118.44,2022
90,Norway,100.90,34.68,69.86,83.11,2022
51,Iceland,94.86,41.93,70.05,77.06,2022
11,Barbados,92.37,21.99,59.38,32.08,2022
62,Jersey,92.02,65.33,79.51,79.14,2022
57,Israel,88.05,33.94,62.69,75.58,2022
32,Denmark,84.12,33.23,60.26,99.45,2022
8,Bahamas,84.00,35.34,61.19,45.07,2022
109,Singapore,83.98,66.43,75.75,91.34,2022

In [5]:
#This database is based on New York City.
#We can see Bermuda is 46% more expensive to live than New York, Groceries and Restaurant increase the price. 
#Also, we can see that based on Local Purchasing Power Index is lower than new york
#Switerland is 23% more expensive than NY. Rent index is half than new york. However the price of food it seems to be 
#around 25% more expensive

In [6]:
#Cheapest Country to Live - 2022
CL2022_Cheap = CostLiving2022_data.nsmallest(10, 'Cost of Living Index')
CL2022_Cheap

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Local Purchasing Power Index,Year
92,Pakistan,19.92,3.91,12.42,26.63,2022
0,Afghanistan,20.37,2.72,12.09,23.04,2022
52,India,24.43,5.30,15.47,49.72,2022
26,Colombia,26.72,8.18,18.03,28.85,2022
2,Algeria,26.87,4.59,16.43,24.63,2022
66,Kosovo (Disputed Territory),27.05,8.04,18.14,43.86,2022
133,Uzbekistan,27.31,9.29,18.86,22.37,2022
125,Tunisia,27.87,5.32,17.30,27.83,2022
84,Nepal,28.29,3.96,16.89,22.96,2022
126,Turkey,28.31,6.63,18.15,32.88,2022

In [7]:
#MEAN Cost 2022
MeanCost2022 = CostLiving2022_data['Cost of Living Index'].mean()
MeanCost2022

50.18863309352518

In [8]:
Highest_Purchasing_Power2022 = CostLiving2022_data.nlargest(10, 'Local Purchasing Power Index')
Highest_Purchasing_Power2022

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Local Purchasing Power Index,Year
119,Switzerland,123.35,53.54,90.62,118.44,2022
131,United States,70.13,42.07,56.98,106.34,2022
5,Australia,77.75,36.84,58.57,104.63,2022
43,Germany,65.58,27.62,47.78,103.08,2022
32,Denmark,84.12,33.23,60.26,99.45,2022
72,Luxembourg,80.50,60.09,70.93,98.84,2022
118,Sweden,71.74,25.86,50.23,98.14,2022
101,Qatar,62.81,48.20,55.96,93.67,2022
129,United Arab Emirates,58.33,43.28,51.28,92.17,2022
105,Saudi Arabia,50.41,11.67,32.25,91.85,2022

In [9]:
Lowest_Purchasing_Power2022 = CostLiving2022_data.nsmallest(10, 'Local Purchasing Power Index')
Lowest_Purchasing_Power2022

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Local Purchasing Power Index,Year
29,Cuba,55.00,15.23,36.36,1.45,2022
120,Syria,28.75,5.17,17.70,6.59,2022
59,Ivory Coast,47.03,17.68,33.27,6.92,2022
88,Nigeria,30.49,35.99,33.07,9.34,2022
38,Ethiopia,47.49,16.88,33.14,10.15,2022
127,Uganda,33.50,9.19,22.10,11.41,2022
21,Cambodia,49.11,15.68,33.44,13.32,2022
117,Suriname,51.78,9.71,32.06,13.44,2022
83,Myanmar,35.67,21.18,28.87,13.84,2022
136,Yemen,53.14,6.71,31.38,14.41,2022

In [10]:
#Most expensive Rent
Rent_Most_Expensive = CostLiving2022_data.nlargest(10,'Rent Index')
Rent_Most_Expensive

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Local Purchasing Power Index,Year
15,Bermuda,146.04,98.58,123.80,81.07,2022
49,Hong Kong,80.71,74.57,77.83,65.74,2022
109,Singapore,83.98,66.43,75.75,91.34,2022
62,Jersey,92.02,65.33,79.51,79.14,2022
72,Luxembourg,80.50,60.09,70.93,98.84,2022
47,Guernsey,83.59,54.02,69.73,71.57,2022
119,Switzerland,123.35,53.54,90.62,118.44,2022
101,Qatar,62.81,48.20,55.96,93.67,2022
129,United Arab Emirates,58.33,43.28,51.28,92.17,2022
73,Macao,66.81,43.00,55.65,69.27,2022

## Cost of Living - 2021

In [11]:
# import the csv to df
CostLiving2021_data = pd.read_csv("../Resources/csv/2021_cost_of_living_rankings_by_country.csv")
CostLiving2021_data['Year'] = 2021
CostLiving2021_data.head()

,Rank,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,Year
0,1,Bermuda,147.51,102.54,126.71,148.59,162.07,68.82,2021
1,2,Switzerland,125.02,54.92,92.59,129.17,122.92,102.77,2021
2,3,Norway,103.56,36.91,72.72,99.51,106.72,73.55,2021
3,4,Iceland,99.67,46.62,75.12,93.51,106.16,67.30,2021
4,5,Barbados,94.44,22.53,61.17,89.23,78.91,30.74,2021

In [12]:
#Drop the column  Groceries Index and Restaurant Price Index 
CostLiving2021_data = CostLiving2021_data.drop("Groceries Index", axis=1)
CostLiving2021_data = CostLiving2021_data.drop("Restaurant Price Index", axis=1)
CostLiving2021_data = CostLiving2021_data.drop("Rank", axis=1)
CostLiving2021_data.head()

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Local Purchasing Power Index,Year
0,Bermuda,147.51,102.54,126.71,68.82,2021
1,Switzerland,125.02,54.92,92.59,102.77,2021
2,Norway,103.56,36.91,72.72,73.55,2021
3,Iceland,99.67,46.62,75.12,67.30,2021
4,Barbados,94.44,22.53,61.17,30.74,2021

In [13]:
# Most 10 expensive country
CL2021_Expensive = CostLiving2021_data.nlargest(10, 'Cost of Living Index')
CL2021_Expensive

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Local Purchasing Power Index,Year
0,Bermuda,147.51,102.54,126.71,68.82,2021
1,Switzerland,125.02,54.92,92.59,102.77,2021
2,Norway,103.56,36.91,72.72,73.55,2021
3,Iceland,99.67,46.62,75.12,67.30,2021
4,Barbados,94.44,22.53,61.17,30.74,2021
5,Jersey,94.43,64.03,80.36,77.12,2021
6,Denmark,88.53,34.51,63.53,86.43,2021
7,Luxembourg,85.30,64.19,75.53,87.76,2021
8,Israel,84.77,32.60,60.63,65.91,2021
9,Bahamas,84.32,35.03,61.51,46.07,2021

In [14]:
#Cheapest Country to Live - 2021
CL2021_Cheap = CostLiving2021_data.nsmallest(10, 'Cost of Living Index')
CL2021_Cheap

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Local Purchasing Power Index,Year
138,Pakistan,21.88,4.57,13.87,24.56,2021
137,India,24.60,5.67,15.84,42.16,2021
136,Uzbekistan,27.10,9.64,19.02,19.48,2021
135,Afghanistan,27.64,3.64,16.54,20.53,2021
134,Kosovo (Disputed Territory),27.83,8.76,19.00,39.05,2021
133,Algeria,27.84,5.14,17.34,22.49,2021
132,Nepal,27.86,4.40,17.01,20.00,2021
131,Syria,28.05,5.96,17.83,6.84,2021
130,Colombia,28.12,8.61,19.09,25.34,2021
129,Georgia,28.58,9.64,19.81,25.16,2021

In [15]:
#MEAN Cost 2021
MeanCost2021 = CostLiving2021_data['Cost of Living Index'].mean()
MeanCost2021

51.356258992805785

In [16]:
Purchasing_Power2021 = CostLiving2021_data.nlargest(10, 'Local Purchasing Power Index')
Purchasing_Power2021

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Local Purchasing Power Index,Year
1,Switzerland,125.02,54.92,92.59,102.77,2021
27,United States,70.55,42.56,57.60,94.32,2021
13,Australia,80.75,38.67,61.28,91.07,2021
31,Germany,67.85,29.61,50.16,89.86,2021
7,Luxembourg,85.30,64.19,75.53,87.76,2021
6,Denmark,88.53,34.51,63.53,86.43,2021
20,Sweden,75.89,27.61,53.55,85.44,2021
37,United Arab Emirates,58.94,39.21,49.81,84.93,2021
34,Qatar,61.93,48.95,55.93,84.85,2021
18,Finland,76.35,27.81,53.89,80.11,2021

In [17]:
#Most expensive Rent
Rent_Most_Expensive = CostLiving2021_data.nlargest(10,'Rent Index')
Rent_Most_Expensive

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Local Purchasing Power Index,Year
0,Bermuda,147.51,102.54,126.71,68.82,2021
12,Hong Kong,80.82,77.56,79.31,56.86,2021
10,Singapore,82.63,64.98,74.46,78.53,2021
7,Luxembourg,85.30,64.19,75.53,87.76,2021
5,Jersey,94.43,64.03,80.36,77.12,2021
1,Switzerland,125.02,54.92,92.59,102.77,2021
34,Qatar,61.93,48.95,55.93,84.85,2021
3,Iceland,99.67,46.62,75.12,67.30,2021
30,Macao,68.16,46.31,58.05,62.15,2021
15,Ireland,78.55,45.34,63.18,71.58,2021

## Cost of Living - 2020

In [18]:
# import the csv to df
CostLiving2020_data = pd.read_csv("../Resources/csv/cost of living 2020.csv")
CostLiving2020_data['Year'] = 2020
CostLiving2020_data.head()

,Rank 2020,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index,McMeal($),Unnamed: 9,Year
0,1,Bermuda,147.77,85.70,117.54,146.63,152.52,78.17,0.00,NaN,2020
1,2,Switzerland,125.69,51.20,89.41,124.93,118.55,114.83,15.36,NaN,2020
2,3,Norway,96.80,32.61,65.54,89.55,96.81,83.40,12.36,NaN,2020
3,4,Iceland,90.19,38.54,65.04,80.91,97.17,74.78,13.31,NaN,2020
4,5,Japan,86.22,26.18,56.98,86.84,48.07,78.88,6.70,NaN,2020

In [19]:
#Drop the column  Groceries Index and Restaurant Price Index 
CostLiving2020_data = CostLiving2020_data.drop("Groceries Index", axis=1)
CostLiving2020_data = CostLiving2020_data.drop("Restaurant Price Index", axis=1)
CostLiving2020_data = CostLiving2020_data.drop("Rank 2020", axis=1)
CostLiving2020_data.head()

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Local Purchasing Power Index,McMeal($),Unnamed: 9,Year
0,Bermuda,147.77,85.70,117.54,78.17,0.00,NaN,2020
1,Switzerland,125.69,51.20,89.41,114.83,15.36,NaN,2020
2,Norway,96.80,32.61,65.54,83.40,12.36,NaN,2020
3,Iceland,90.19,38.54,65.04,74.78,13.31,NaN,2020
4,Japan,86.22,26.18,56.98,78.88,6.70,NaN,2020

In [20]:
#Drop the column  McMeal($) and Unnamed: 9  
CostLiving2020_data = CostLiving2020_data.drop("McMeal($)", axis=1)
CostLiving2020_data = CostLiving2020_data.drop("Unnamed: 9", axis=1)

# Rename Rank Column
CostLiving2020_data = CostLiving2020_data.rename(columns = {'Rank 2020': 'Rank'})

CostLiving2020_data.head()

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Local Purchasing Power Index,Year
0,Bermuda,147.77,85.70,117.54,78.17,2020
1,Switzerland,125.69,51.20,89.41,114.83,2020
2,Norway,96.80,32.61,65.54,83.40,2020
3,Iceland,90.19,38.54,65.04,74.78,2020
4,Japan,86.22,26.18,56.98,78.88,2020

In [21]:
# Most 10 expensive Country
CL2020_Expensive = CostLiving2020_data.nlargest(10, 'Cost of Living Index')
CL2020_Expensive

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Local Purchasing Power Index,Year
0,Bermuda,147.77,85.70,117.54,78.17,2020
1,Switzerland,125.69,51.20,89.41,114.83,2020
2,Norway,96.80,32.61,65.54,83.40,2020
3,Iceland,90.19,38.54,65.04,74.78,2020
4,Japan,86.22,26.18,56.98,78.88,2020
5,Denmark,85.02,33.10,59.74,101.27,2020
6,Luxembourg,84.38,55.11,70.13,99.86,2020
7,Bahamas,84.25,37.04,61.26,53.12,2020
8,Israel,82.52,29.96,56.93,73.94,2020
9,Singapore,81.13,61.27,71.46,82.61,2020

In [22]:
#Cheapest Country to Live - 2020
CL2020_Cheap = CostLiving2020_data.nsmallest(10, 'Cost of Living Index')
CL2020_Cheap

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Local Purchasing Power Index,Year
134,Pakistan,21.00,4.28,12.86,28.39,2020
133,India,24.12,5.50,15.05,50.55,2020
132,Kyrgyzstan,24.70,7.78,16.46,23.56,2020
131,Afghanistan,26.71,3.99,15.65,28.19,2020
130,Syria,27.04,5.77,16.68,9.48,2020
129,Uzbekistan,27.37,7.59,17.74,22.25,2020
128,Tunisia,27.93,5.49,17.00,30.24,2020
127,Nepal,28.17,4.69,16.73,20.17,2020
126,Kosovo (Disputed Territory),28.42,8.50,18.72,43.32,2020
125,Algeria,28.88,5.01,17.25,26.90,2020

In [23]:
#MEAN Cost 2020
MeanCost2020 = CostLiving2020_data['Cost of Living Index'].mean()
MeanCost2020

50.349185185185206

In [24]:
Purchasing_Power2020 = CostLiving2020_data.nlargest(10, 'Local Purchasing Power Index')
Purchasing_Power2020

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Local Purchasing Power Index,Year
1,Switzerland,125.69,51.20,89.41,114.83,2020
20,United States,72.47,40.07,56.69,108.29,2020
15,Australia,75.89,34.18,55.58,103.38,2020
5,Denmark,85.02,33.10,59.74,101.27,2020
6,Luxembourg,84.38,55.11,70.13,99.86,2020
28,Qatar,67.54,46.01,57.05,99.82,2020
29,Germany,66.34,26.99,47.18,97.41,2020
21,Sweden,72.31,25.86,49.69,94.04,2020
19,Finland,72.71,25.89,49.91,93.94,2020
58,Saudi Arabia,49.15,11.61,30.87,93.84,2020

In [25]:
#Most expensive Rent
Rent_Most_Expensive = CostLiving2020_data.nlargest(10,'Rent Index')
Rent_Most_Expensive

,Country,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Local Purchasing Power Index,Year
0,Bermuda,147.77,85.70,117.54,78.17,2020
12,Hong Kong,77.90,75.26,76.62,67.02,2020
9,Singapore,81.13,61.27,71.46,82.61,2020
6,Luxembourg,84.38,55.11,70.13,99.86,2020
1,Switzerland,125.69,51.20,89.41,114.83,2020
28,Qatar,67.54,46.01,57.05,99.82,2020
24,Macao,70.18,42.47,56.69,73.01,2020
11,Ireland,78.07,41.63,60.33,74.58,2020
20,United States,72.47,40.07,56.69,108.29,2020
34,United Arab Emirates,62.98,40.03,51.81,86.06,2020

In [26]:
#Data to create the database
#CostLiving2022_data , CostLiving2021_data, new_CostLiving2020_data

# Saving the transformed csv data

In [27]:
CostLiving2020_data.to_csv('../Resources/Clean_Data/Cost_of_Living_2020.csv')
CostLiving2021_data.to_csv('../Resources/Clean_Data/Cost_of_Living_2021.csv')
CostLiving2022_data.to_csv('../Resources/Clean_Data/Cost_of_Living_2022.csv')